{   /*establecer margenes y relleno de los lados de un elemento*/
    margin: 0;
    padding: 0
}

header {
    color: WindowText;
    text-align: center;
    font-size: 200%;
}

footer{
    position: absolute;
    bottom: 30px;
    left: 70px;
}