*{
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    color: WindowText;
    text-align: center;
    font-size: 150%;
}

body{
    background-color: aliceblue;
    font-size: 100 px;
}

a{
    list-style: none;
    text-decoration: none;
    font-size: large;
    text-align: left;
}

h1{
     color: black;
     width: 100%;
     font-size: medium;
 }

h2{
    color: black;
    width: 100%;
    font-size: medium;
}

form{
    display: inline-block;
    text-align: center;
    width: 100%;
}

h3{
    color: brown;
    width: 100%;
    font-size: medium;
}

button {
    margin: 0 auto;
    display: inline-block;
}

footer{
    position: center;
    bottom: 50px;
    left: 80px;
}