body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #2d3436;
}
.bot{
    width: 600px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #b2bec3;
    text-align: center;
    position: relative;
    margin-top: 900px;
}
.bot h1{
    font-size: medium;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
}
.bot h2{
    font-size: medium;
    color: white;
    font-weight: 100;
}
.boton1 {
    border: 1px solid #2980b9;
    background: none;
    padding: 5px 15px;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 5px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

